<!-- LOGIN -->
<section style="font-family: 'Jockey One', sans-serif;"  class="bg-[#FFBB00] text-white flex items-center justify-center min-h-screen px-4">
  <div class="bg-[#E20613] rounded-3xl p-10 max-w-3xl w-full text-center shadow-xl">

    <!-- Ilustração -->
    <img src="assets/Images/login/salgado-em-construcao.png" alt="Salgado em construção" class="mx-auto w-60 mb-6">

    <!-- Título -->
    <h1 class="text-4xl md:text-5xl font-bold uppercase tracking-wide mb-4">
      Área em Construção!
    </h1>

    <!-- Subtítulo -->
    <p class="text-lg md:text-xl mb-6">
      Calma aí, chef! Essa fornada ainda está no preparo... <br>
      Em breve, a <span class="text-yellow-300 font-bold">área do cliente</span> estará recheada de novidades quentinhas.
    </p>

    <!-- Botão Voltar -->
    <a [routerLink]="'/home'" class="inline-block bg-white text-[#E20613] font-bold px-6 py-3 rounded-full text-lg hover:bg-yellow-100 transition">
      Voltar ao Início
    </a>
  </div>
</section>
